body {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -10%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  padding: 0.5rem 0 5rem;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

li, .dropdown-menu, .collapse, .show {
  display: flex;
  flex-direction: column;
}

a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 250ms;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@media screen and (min-width: 765px) {
  .nav-item {
    line-height: 80px;
  }
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.hidden {
  display: none;
}

.contact-form-container {
  background-image: url("/assets/enveloppe.jpg");
  background-size: cover;
  border-radius: 20%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(93, 159, 13, 0.3);
  background-position: center;
  height: 90vh;
  text-align: center;
}

.contact-form-wrapper {
  background-color: rgba(169, 170, 169, 0.8);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(5px);
  padding: 3vw;
  margin: 3vw;
  border-radius: 2vw;
  max-width: 80vw;
  margin: auto;
}

.contact-form-wrapper h1 {
  text-align: center;
  margin-bottom: 3vw;
}

#bio {
  background-image: url("https://raw.githubusercontent.com/FredFreeb/assets/SOM/bio.jpg");
  background-size: contain;
  height: 80vh;
}

.box:hover .cover {
  top: 0;
}

.cover {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  transition: top 0.3s ease;
}

.cover h3 {
  margin-top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.cover p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.cover .social {
  text-align: center;
  margin-top: 20px;
}

.wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#vinylPlayer {
  margin-top: 5%;
}

.album {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.album-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center;
}

.vinyl {
  position: relative;
  margin-bottom: 5%;
  width: 100%;
  padding-bottom: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.isPlaying {
  animation: rotate 1.8s infinite linear;
}

.center-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #000;
  border-radius: 50%;
}

.album-select-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

label {
  margin-right: 1rem;
}

#album-select {
  flex: 1;
  padding: 0.5rem;
}

.album-cover-art, .vinyl-art {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  text-decoration: none;
}

.gallery {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
}

.gallery::after {
  content: "";
  display: block;
  flex-grow: 10;
}

.gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
      object-fit: cover;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.carousel .slick-prev, .carousel .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
.carousel .slick-prev:before, .carousel .slick-next:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.carousel .slick-prev {
  left: 10px;
}
.carousel .slick-prev:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}
.carousel .slick-next {
  right: 10px;
}
.carousel .slick-next:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}
.carousel .slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.carousel .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.carousel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.carousel .slick-dots li button:hover, .carousel .slick-dots li button:focus {
  outline: none;
}
.carousel .slick-dots li.slick-active button {
  background-color: white;
}
.carousel .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.carousel .slick-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.carousel .slick-slide.slick-active {
  display: block;
}
.carousel .slick-initialized {
  display: block;
}/*# sourceMappingURL=style.css.map */