.contact-form-container {
    background-image: url('/assets/enveloppe.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.contact-form-wrapper {
    background-color: rgba(169, 170, 169, 0.8);
    padding: 3vw;
    margin: 3vw;
    border-radius: 2vw;
    max-width: 80vw;
    margin: auto;
}

.contact-form-wrapper h1 {
    text-align: center;
    margin-bottom: 3vw;
}

@media only screen and (min-width: 768px) {
    .contact-form-wrapper {
        padding: 3vw;
        margin: 3vw;
        border-radius: 1vw;
        max-width: 70vw;
    }

    .contact-form-wrapper h1 {
        margin-bottom: 2vw;
    }
    }
