@use 'sass:math';

#vinylPlayer {
	margin-top: 5%;
}
.album {
	position: relative;
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
}

.album-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	background-size: cover;
	background-position: center;
}

.vinyl {
	position: relative;
	margin-bottom: 5%;
	width: 100%;
	padding-bottom: 100%;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// animation: rotate 1.8s infinite linear;
}
// .isPlaying{
// 	animation: rotate 1.8s infinite linear;
// }
.center-hole {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	background-color: #000;
	border-radius: 50%;
}

.album-select-container {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

label {
	margin-right: 1rem;
}

#album-select {
	flex: 1;
	padding: 0.5rem;
}
.album-cover-art, .vinyl-art {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/////// Gallerie de photos
li{
	text-decoration: none;
}
.gallery {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2vmin;
	padding: 0 14px;
}
.gallery::after {
	content:'';
	display:block;
	flex-grow: 10;
}
.gallery li {
	list-style-type: none;
	height: 250px;
	flex-grow: 1;
}
.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
////////////////////// SECTION 3: CAROUSEL YOUTUBE
// Carousel configuration parameters
$n: 8;
$item-width: 400px;
$item-separation: 80px;
$viewer-distance: 500px;

// Derived variables
$theta: math.div(2 * 3.141592653589793, $n);
$apothem: 482.842712474619px;

.carousel {
	padding: 20px;

	perspective: $viewer-distance;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		transform-origin: 50% 50% (-$apothem);
		
		iframe {
			width: 100%;
			height: 500px;
			box-sizing: border-box;
			padding: 0 calc(#{$item-separation} / 2);

			
			opacity: 0.9;
			
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
				transform-origin: 50% 50% (-$apothem);
			}
			
			@for $i from 2 through $n {
				&:nth-child(#{$i}) {
					transform: rotateY(#{($i - 1) * $theta}rad);
				}
			}
		}
	}
	
	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
			
			cursor: pointer;
			
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
	
}
